/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #292929;
}
::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper{
  width: 1000px;
  padding: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 17px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: #56964f;
}
.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17A2B8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}
.content button{
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #292929;
  transition: transform 0.3s ease;
}
.content button:active{
  transform: scale(0.97);
}
.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }
}


//navbar

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #292929;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}
    
    nav a {
        position: relative;
        width: 33.333%;
        display: table-cell;
        text-align: center;
        color: #949494;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;
    }

        nav a:before,
        nav a:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            transform: scale(0);
            transition: 0.2s ease transform;
        }

        nav a:before {
            top: 0;
            left: 10px;
            width: 6px;
            height: 6px;
        }

        nav a:after {
            top: 5px;
            left: 18px;
            width: 4px;
            height: 4px;
        }

        nav a:nth-child(1):before {
            background-color: yellow;
        }

        nav a:nth-child(1):after {
            background-color: red;
        }

        nav a:nth-child(2):before {
            background-color: #00e2ff;
        }

        nav a:nth-child(2):after {
            background-color: #89ff00;
        }

        nav a:nth-child(3):before {
            background-color: purple;
        }

        nav a:nth-child(3):after {
            background-color: palevioletred;
        }

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover {
    color: #fff;
}

    nav a:hover:before,
    nav a:hover:after {
        transform: scale(1);
    }

nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}


//rules pop up
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    background-color: #fff8e8;
    color: #1a1a1a;
}

.noscroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlayActive {
    display: block;
}

.popUpContainer {
    position: fixed;
    bottom: -350px;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.popUpActive {
    bottom: 0px;
}

button {
    outline: none;
    border: none;
}

    button:active {
        box-shadow: 0 0 0;
        transform: translateY(5px);
    }

.closeBtn {
    background-color: #D52941;
    box-shadow: 0 5px 0 #990d35;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    margin: 20px 20px 0px;
}

.openBtn {
    background-color: #3b3838;
    box-shadow: 0 5px 0 #000000;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    margin: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popUpContent {
    width: 100%;
    height: calc(100% - 50px);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: justify;
}